.showMoreButton{
  align-items: center;
  background-color: #cecece;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  text-decoration: none;
  padding: 8px;
}

