
.list{
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rowWrapper{
  background-color: #FFF;
  box-sizing: border-box;
  border: solid 1px #cccccc;
  border-left: solid 4px #f16100;
  display: flex;
  flex-direction: column;
  padding: 8px;
  &:hover{
    background-color: #f8f8f8;
  }

  h2{
    color: #f16100;
    font-size: 36px;
  }
}

.editList{
  background-color: #fff;
  border: solid 1px #999999;
  border-radius: 32px;
  cursor: pointer;
  height: 32px;
  margin: 8px 16px 8px 0;
  width: 88px;
  &:hover{
    background-color: #eeeeee;
  }
}

.deleteList{
  background-color: #fff;
  border: solid 1px #999999;
  border-radius: 32px;
  cursor: pointer;
  height: 32px;
  width: 88px;
  &:hover{
    border: solid 1px #ff0000;
    color: #ff0000;
  }
}