.productList{
  display: flex;
  gap: 24px;
}

.productWrapper{
  border-bottom: solid 1px #ccc;
  display: flex;
  justify-content: space-between;
  list-style-type: circle;
  padding: 16px;
}

.productWrapper:nth-child(odd){
  background-color: #ececec;
}

.productNumber{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 8px 0 0;
}

.productInfo{
  border-left: 1px solid #CCC;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  gap: 8px;
  padding: 0 8px;
}

.productTitle{
  align-items: baseline;
  display: flex;
  gap: 16px;
}

.productDelete{
  align-items: center;
  display: flex;

  svg{
    cursor: pointer;
  }
}