.productList{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.productWrapper{
  align-items: center;
  border-bottom: solid 1px #ccc;
  display: flex;
  justify-content: space-between;
  list-style-type: circle;
  padding: 32px 0 32px;

  svg{
    cursor: pointer;
  }
}

.productInfo{
  display: flex;
  flex-direction: column;
  gap: 8px;

  h3{
    font-size: 24px;
    text-decoration: underline;
  }
}

.productTitle{
  align-items: baseline;
  display: flex;
  gap: 16px;


}