.wrapper{
  display: flex;
}

.pageTitleWrapper{
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: flex-start;
  width: 100%;
}


.pageTitle{
  font-size: 36px;
}

.optionsWrapper{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.hidden{
  visibility: hidden;
}

