.wrapper{
  display: flex;
}

.pageTitleWrapper{
  align-items: center;
  background-color: #f16100;
  border: solid 1px #cccccc;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  height: 64px;
  justify-content: center;
  width: 50%;
}

.pageTitle{
  color: #FFF;
  font-size: 40px;
}

.optionsWrapper{
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.newListButton{
  background-color: #f16100;
  border: none;
  border-radius: 32px;
  color: #FFF;
  cursor: pointer;
  height: 32px;
  width: 40%;
  &:hover{
    background-color: #cf5300;
  }
}

.hidden{
  visibility: hidden;
}

.newProductButton{
  background-color: #fff;
  border: solid 1px #999999;
  border-radius: 32px;
  cursor: pointer;
  height: 32px;
  width: 40%;
  &:hover{
    background-color: #eeeeee;
  }
}