.list{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.listHeader{
  background-color: #fff;
  border-bottom: solid 1px #ccc;
  display: flex;
  justify-content: space-between;
  padding: 16px;

  .listHeaderText{
    display: flex;
    flex-direction: column;
  }
}

.rowWrapper{
  border: solid 1px #cccccc;
  border-bottom: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-sizing: border-box;
  
  h2{
    font-size: 24px;
    font-weight: 700;
    margin: 8px 0;
  }
}

.showMoreWrapper{
  align-items: center;
  background-color: #cecece;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px;
}

